# Virtual environment
.venv/

# Python cache
__pycache__/

# models checkpoints and data
models/
data/
dataset/
dataset_sample/

# external repositories
external/

# input and results
patch_images/
M-6.ndpi
extracted_features/
patches/
debug/
features/